# for eclipse IDE
/.settings/
/.buildpath
/.project

# for vscode editor
/.vscode

# for PHP engine
/vendor/

# for sass
.sass-cache/
*.map
*.min.*

lib/

# for others
.~lock*
*.lock
*.dat
*.tab

# not ignores
!resources/titles.dat
